:root {
    --back: #0f0f0f;
    /* --back: #222831; */
    --grey: #EEEEEE;

    --yellow: #FBD46D;
    --blue: #00C1D4;
}
.projects {
    height: auto;
    min-height: auto;
}
.photo {
    display: none;
}
.footer {
    padding: 20px 20px;
    background-color: #222831;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
}
.hero {
    display: grid;
    justify-content: center;
    align-content: space-between;
}
.hero__text {
    text-align: center;
    position: relative;
    color: var(--blue);
    z-index: 1;
    font-weight: 600;
}
.hero__text span {
    text-transform: uppercase;
}
.hero__nav {
    font-size: 16px;
    text-align: center;
    color: var(--blue);
    z-index: 1;
}
.hero__nav ul li {
    list-style: none;
    display: inline-block;
}
.hero__nav ul li:before {
    content: '/';
    padding: 0 10px 0 10px;
}
.hero__nav ul li:first-child::before {
    content: none;
}
.link2 {
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
}

.hero__text {
    padding: 30px 0;
}
.hero-name {
    text-align: center;
    margin: 0 10px;
}
.hero-name h1 {
    font-size: 6rem;
    font-weight: 300;
    font-family: 'Ruthie', serif;
    color: var(--grey);

}
.hero_image {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
.hero_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__router {
    display: flex;
    justify-content: space-evenly;
}
.hero__degradient {
    bottom: 0;
    height: 200px;
    position: absolute;
    z-index: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(15,15,15,1) 35%, rgba(0,212,255,0) 100%);
}
.sections {
    background-color: var(--back);
}
/* textos */
.section-title {
    height: 10rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.section-title h2{
    font-size: 6rem;
    font-weight: 300;
    font-family: 'Ruthie', serif;
    color: var(--grey);
    text-align: center;
}
.sub-title {
    color: var(--blue);
    padding: 0 22px;
}
.text {
    color: var(--grey);
    padding: 0 22px;
    white-space: pre-line;
}
.text strong {
    color: var(--blue);
}
/*about*/
.about {
    display: grid;
    align-content: space-between;
}

/* projects*/

.sections .projects {
    height: auto;
}
.title-project {
    color: var(--blue);
    text-align: center;
    padding: 30px 0;
}
.project-image {
    max-width: 320px;
    overflow: hidden;
    margin: auto;
}
.project-image img {
    max-width: 320px;
    object-fit: cover;
}
.project-description {
    white-space: pre-line;
}

/* footer */
.footer {
    height: auto;
}
.footer .link2 {
    text-decoration: underline;
    text-decoration-color: var(--blue);
}
.footer figure {
    max-width: 500px;
    padding: 20px;
}
.footer figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title-project-ghost {
    display: none;
    color: var(--blue);
    padding: 0 22px;
}
.footer {
    border-top: 2px solid var(--blue);
    text-align: center;
}
.footer figure {
    margin: auto;
}
.friend-img {
    display: none;
}

/*hover*/
.text a:hover {
    color: var(--yellow);
}
.footer a:hover {
    color: var(--yellow);
}
.link2:hover {
    color: var(--yellow);
    text-decoration-color: var(--yellow);
}

/*mover*/
.text a {
    color: var(--blue);
    text-decoration: underline;
}
@media (max-height: 650px) {
    html {
        font-size: 16px;
    }
}
@media (max-height: 600px) {
    html {
        font-size: 14px;
    }
    .title-project {
        font-size: 18px;
    }
}

